a {
    color: #FF4C10;
    text-decoration: none;
    border-bottom: 1px dashed #FF4C10;
}

body {
    background-color: #E0DBC8;
}

img {
    border: none;
}

img a {
    border: none;
}

#big_news_bulletin {
    margin-top: 2em;
    text-align: center;
    padding: .25em;
    padding-top: 0em;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #191400;
}

#big_news_bulletin .news_date {
    font-size: 10pt;
}

#big_news_bulletin .news_text {
    text-align: left;
}

#big_news_bulletin .news_title {
    font-size: 15pt;
    margin-top: .25em;
    height: 1.5em;
}

#create_game_form {
    text-align: center;
}

#header {
    height: 6em;
    background-color: #B3A285;
    border: 1px solid #191400;
    padding: .5em;
}

#logo {
    width: 20%;
    float: left;
    padding: 0px;
}

#logo a {
    border: none;
}

#nav_buttons {
    margin-left: 25%;
    text-align: center;
    width: 40%;
    margin-top: 2em;
}

#news_feed {
    width: 15em;
    border: 1px solid #191400;
    padding: .25em;
    margin-top: .25em;
    background-color: #B3A285;
    float: right;
}

#news_feed h3 {
    text-align: center;
    margin-top: 0px;
}

#news_feed h3 a {
    color: #191400;
    border-bottom: 1px dashed #191400;
}

#news_feed .news_title {
    font-size: 12pt;
    background-color: #B3A285;
    text-align: center;
}

#news_feed .news_title a {
    color: #191400;
    border-bottom: 1px dashed #191400;
}

#news_feed .news_text {
    font-size: 10pt;
}

#news_feed .news_text a {
    color: #191400;
    border-bottom: 1px dashed #191400;
}

#news_feed .news_date {
    font-size: 10pt;
}

#news_post_form {
    text-align: center;
    background-color: #B3A285;
}

#news_post_form h3 {
    color: #191400;
    padding-top: 1em;
}

#news_post_form .submit {
    margin-top: .25em;
}

#player_info {
    float: right;
    width: 20em;
    height: 5.5em;
    background-color: #191400;
    margin-top: 0px;
    color: #FF4C10;
}

#upper_header {
    height: 60%;
    padding: .5em;
}

.bolded {
    font-weight: bold;
    color: #191400;
}

.center {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.nav_button {
    background-color: #E0DBC8;
    margin-right: 2em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #191400;
}

.nav_button a {
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #191400;
    text-decoration: none;
    border: none;
}

.nav_button a:hover {
    height: 2em;
    background-color: #DECFB6;
    border: none;
}

.news_title {
    color: #FF4C10;
    background-color: #191400;
}

.news_title a {
    text-decoration: none;
    border-bottom: 1px dashed #FF4C10;
    color: #FF4C10;
}

.player_info_button {
    background-color: #B3A285;
    margin-left: .6em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #191400;
}

.player_info_button a {
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #191400;
    text-decoration: none;
    border: none;
}

.player_info_button a:hover {
    height: 2em;
    background-color: #DECFB6;
    border: none;
}

.player_name {
    margin-top: .25em;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 2em;
}

.submit {
    margin-top: .25em;
}
