body {
    background-color: #E0DBC8;
}

img {
    border: 0px;
}

#header {
    height: 6em;
    background-color: #B3A285;
    border: 1px solid #191400;
    padding: .5em;
}

#logo {
    width: 20%;
    float: left;
    padding: 0px;
}

#nav_buttons {
    margin-left: 30%;
    text-align: center;
    width: 30%;
    margin-top: 2em;
}

#player_info {
    float: right;
    width: 20em;
    height: 5.5em;
    background-color: #191400;
    margin-top: 0px;
    color: #FF4C10;
}

#upper_header {
    height: 60%;
    padding: .5em;
}

.center {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.nav_button {
    background-color: #E0DBC8;
    margin-right: 2em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #191400;
}

.nav_button a {
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #191400;
    text-decoration: none;
}

.nav_button a:hover {
    height: 2em;
    background-color: #DECFB6;
}

.player_info_button {
    background-color: #B3A285;
    margin-left: .6em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #191400;
}

.player_info_button a {
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #191400;
    text-decoration: none;
}

.player_info_button a:hover {
    height: 2em;
    background-color: #DECFB6;
}

.player_name {
    margin-top: .25em;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 2em;
}


